.auth__body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.auth__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.auth__content {
  margin: 0 auto;
  width: 720px;
  height: 440px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 3%;
}

.auth__banner {
  height: 100%;
  width: 350px;
  background: rgba(255, 255, 255);
  border-radius: 20px 0 0 20px;
}

.auth__banner > img {
  height: 90%;
  width: 90%;
  padding-left: 10%;
  padding-top: 7%;
}

.auth__form {
  height: 100%;
  width: 300px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 20px 20px 0;
  position: relative;
}

.auth__form{
 margin-bottom: 0% !important;
}

.auth__form > img {
  margin: 10px 0 0px;
  height: 50px;
  border-radius: 50%;
}

input {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 212px;
  height: 32px;
  border: 1px solid #ccc;
  color: #2d2d2d;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  padding-left: 10px;
}

input:focus {
  color: #2d2d2d;
  outline-color: #00717e;
  outline-style: double;
}

.auth__checkme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  font-size: 12px;
  margin-left: 3px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-top: px;
}

.auth__button {
  width: 220px;
  height: 38px;
  border: 2px solid #00717e;
  background: #00717e;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.auth__button2 {
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 220px;
  height: 38px;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  color: #757575;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

::placeholder {
  color: #757575;
  opacity: 0.5;
  font-size: smaller;
}

.auth__checkme {
  /* display: flex;
  justify-content: space-between;
  align-items: left; */
  width: 73%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.auth__checkbox {
  width: 47%;
}

.auth__checkbox label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 9px;
  font-weight: 500;
}

.auth__checkbox input {
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: -2px;
}

.auth__forget {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: 9px;
  font-weight: 500;
}

.auth__or {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 0.8rem;
}

.auth__or hr {
  width: 30%;
  height: 0.1px;
  background-color: #c4c4c4;
  border: none;
  align-self: center;
}
